In [3]:
import pandas as pd
import numpy as np

In [4]:
table = pd.read_csv('./rnn/accuracy.txt', header=None)

In [5]:
table.columns

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [6]:
table.columns = ['model_type',  'hidden_size', 'linear_hid_dim', 
                                                        'combine_method', 'regularization', 'train_acc',
                                                               'val_acc']

In [11]:
table.sort_values(by=table.columns[6], ascending=False).head(5)[['hidden_size', 
                                                        'combine_method', 'regularization', 'train_acc',
                                                               'val_acc']]

    hidden_size combine_method regularization  train_acc  val_acc
0           100         concat           none     81.553     72.0
1           100            mul           none     81.283     71.6
9           300         concat           none     90.094     70.9
3           100         concat        dropout     78.938     70.7
19          500            mul           none     97.471     70.6

In [13]:
best_hidden_size = 100;
best_combine_method = 'concat';
best_regularization = 'none';

In [12]:
table.sort_values(by=table.columns[6], ascending=True).head(5)[['hidden_size', 
                                                        'combine_method', 'regularization', 'train_acc',
                                                               'val_acc']]

    hidden_size combine_method regularization  train_acc  val_acc
17          300            add   weight_decay     33.851     32.5
16          300            mul   weight_decay     33.634     33.0
26          500            add   weight_decay     33.635     33.1
24          500         concat   weight_decay     33.635     33.1
15          300         concat   weight_decay     33.165     33.1

### Hidden Size

In [14]:
df = table.loc[ (table['combine_method'] == best_combine_method) & 
               (table['regularization'] == best_regularization)]

In [15]:
df[['hidden_size', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

    hidden_size  train_acc  val_acc
0           100     81.553     72.0
9           300     90.094     70.9
18          500     94.608     70.4

### Combine Method

In [17]:
df = table.loc[ (table['hidden_size'] == best_hidden_size) & 
               (table['regularization'] == best_regularization)]

In [18]:
df[['combine_method', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

  combine_method  train_acc  val_acc
0         concat     81.553     72.0
1            mul     81.283     71.6
2            add     72.596     63.3

### Regularization

In [19]:
df = table.loc[ (table['hidden_size'] == best_hidden_size) & 
               (table['combine_method'] == best_combine_method)]

In [20]:
df[['regularization', 'train_acc', 'val_acc']].sort_values(by='val_acc', ascending=False).head(5)

  regularization  train_acc  val_acc
0           none     81.553     72.0
3        dropout     78.938     70.7
6   weight_decay     33.640     33.3

# Parameters

In [28]:
params = pd.read_csv('parameters.txt', header=None)
params.columns = ['model_type',  'kernel_size', 'hidden_size', 'linear_hid_dim', 
                                                        'combine_method', 'Num_Parameters']

In [45]:
params = params.loc[ params['hidden_size'] != 50]

In [46]:
params.loc[ (params['model_type'] == 'cnn')  & (params['combine_method'] != 'add') ]

,model_type,kernel_size,hidden_size,linear_hid_dim,combine_method,Num_Parameters
6,cnn,3,100,400,concat,45202403.0
7,cnn,5,100,400,concat,45282403.0
8,cnn,3,100,400,mul,45162403.0
9,cnn,5,100,400,mul,45242403.0
12,cnn,3,300,400,concat,45782803.0
13,cnn,5,300,400,concat,46142803.0
14,cnn,3,300,400,mul,45662803.0
15,cnn,5,300,400,mul,46022803.0
18,cnn,3,500,400,concat,46603203.0
19,cnn,5,500,400,concat,47403203.0
20,cnn,3,500,400,mul,46403203.0
21,cnn,5,500,400,mul,47203203.0

In [47]:
temp = params.loc[ (params['model_type'] == 'rnn') & (params['combine_method'] != 'add') ][['model_type',  'kernel_size', 'hidden_size', 'linear_hid_dim', 
                                                        'combine_method']]
temp.colums = ['model_type',  'hidden_size', 'linear_hid_dim', 
                                                        'combine_method', 'Num_Parameters']
temp

/home/sm7582/.conda/envs/denoising/lib/python3.6/site-packages/ipykernel/__main__.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

   model_type  kernel_size  hidden_size linear_hid_dim combine_method
24        rnn           50          400         concat       45147803
25        rnn           50          400            mul       45127803
26        rnn           50          400            add       45127803
27        rnn          100          400         concat       45323403
28        rnn          100          400            mul       45283403
29        rnn          100          400            add       45283403
30        rnn          300          400         concat       46325803
31        rnn          300          400            mul       46205803
32        rnn          300          400            add       46205803
33        rnn          500          400         concat       47808203
34        rnn          500          400            mul       47608203
35        rnn          500          400            add       47608203